p, h2 {
  margin: 0;
}

h2{
  padding-top: 4px;
  font-weight: 700;
  color: gray;
}

p.title{
  padding-top: 4px;
  font-weight: 600;
}

h3{
  padding-top: 4px;
  font-size: 13px;
  text-decoration: underline;
  font-weight: 500;
  color: #838383;
}

p.description{
  padding-top: 6px;
  border-radius: 2px;
  font-size: 13px;
  font-style: italic;
  text-align: justify;
}

button{
  margin-top: 4px;
  font-weight: 600;
  background: #bce0c1;
  border: 1px solid #a0c0a4;
  border-radius: 4px;
}
button:hover{
  cursor: pointer;
  background: #a0c0a4;
}
button:focus{
  outline: 1px solid #708b73;
}


