.show-mobile {
  display: block;
  position: sticky;
  top: 0;
  background: rgb(243, 243, 243);
  box-shadow: 0px 2px 5px rgb(black, .2);
  > div {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      border: 0;
      background: transparent;
      cursor: pointer;
    }

    .logo{
      background-color: white;
      padding: 6px 8px;
      border-radius: 6px;
    }

    .counter{
      position: absolute;
      width: 16px;
      height: 16px;
      top: 4px;
      right: 4px;
      background-color: #bce0c1;
      padding: 1px;
      border-radius: 5px;
      text-align: center;
    }
  }

  .side-menu{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.966);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transform: translateX(-100%);
    transition: all ease-out .5s;

    &.active{
      transform: translateX(0);
    }

    button{
      font-weight: 800;
    }

    li{
      margin: 0 .2em;
      color: inherit;
      text-decoration: none;
      padding: 4px;
      border-radius: 4px;
    }
    li:hover{
      cursor: pointer;
      background-color: rgb(233, 233, 233);
    }
  }
}
.hide-mobile {
  display: none;
  position: sticky;
  top: 0;
  background: rgb(243, 243, 243);
  box-shadow: 0px 2px 5px rgb(black, .2);
  > div {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    margin-right: 1em;
    background-color: white;
    padding: 6px 8px;
    border-radius: 6px;
  }
  nav {
    display: flex;
    align-items: center;
    ul {
      display: flex;
      list-style: none;
      li {
        margin: 0 .2em;
        color: inherit;
        text-decoration: none;
        padding: 8px;
        border: 1px solid #eeeeee;
        border-radius: 4px;
      }
      li:hover {
        cursor: pointer;
        background-color: rgb(233, 233, 233);
      }
    }
  }
  .info {
    display: flex;
    align-items: center;
    .account {
      margin-right: .5em;
    }
    .container-counter-cart{
      position: relative;
    }

    .counter{
      position: absolute;
      width: 16px;
      height: 16px;
      top: -12px;
      right: -10px;
      padding: 1px;
      background-color: #bce0c1;
      border-radius: 6px;
      text-align: center;
    }
  }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .show-mobile {
    display: none;
  }
  .hide-mobile {
    display: block;
  }
}

/* Large and up */
@media screen and (min-width: 64em) {
  .show-mobile {
    display: none;
  }
  .hide-mobile {
    display: block;
  }
}
